<div class='card'>
    <div class='card-header'>
        Invoices List
    </div>
    <div class='card-body'>
        <div class='row'>
            <div class='col-md-2'>Filter by:</div>
            <div class='col-md-4'>
                <input [(ngModel)]='listFilter'
                       type='text'/>
            </div>
        </div>
        <div *ngIf='listFilter'
             class='row'>
            <div class='col-md-6'>
                <h4>Filtered by: {{listFilter}}</h4>
            </div>
        </div>
        <div class='table-responsive'>
            <table *ngIf="invoices && invoices.length" class='table'>
                <thead>
                <tr>
                    <th>Number</th>
                    <th>Buyer</th>
                    <th>Seller</th>
                    <th>Due date</th>
                    <th>Issued date</th>
                    <td>SUBTOTAL</td>
                    <td>TOTAL</td>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
                <tr *ngFor="let invoice of filteredInvoices">
                    <td>{{invoice.number | convertToSpace:'-'}}</td>
                    <td>{{invoice.seller}}</td>
                    <td>{{invoice.buyer}}</td>
                    <td>{{invoice.dueDate| date}}</td>
                    <td>{{invoice.issuedDate| date}}</td>
                    <td>{{20.05 | currency: 'PLN':'code':'1.2-2'}}</td>
                    <td>{{20.05 | currency: 'PLN':'code':'1.2-2'}}</td>
                    <!--                    <td>{{invoice.total | currency: 'PLN':'code':'1.2-2'}}</td>-->
                    <td>
<!--                        <button (click)="toggleEvent()" type="button" class="btn btn-primary">PDF</button>-->
                        <div class="btn-group">
                            <button (click)="toggleEvent()" type="button" class="btn btn-primary"><i class="fa fa-home">Home</i></button>
                            <button (click)="toggleEvent()" type="button" class="btn btn-secondary">Details</button>
                            <button (click)="toggleEvent()" type="button" class="btn btn-dark">Email</button>
                        </div>
                    </td>
                </tr>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
