<div class='card'>
    <div class='card-header'>
        Invoices List
    </div>
    <div class='card-body'>
        <div class='row'>
            <div class='col-md-2'>Filter by:</div>
            <div class='col-md-4'>
                <input type='text'/>
            </div>
        </div>
        <div class='table-responsive'>
            <table class='table' *ngIf="invoices && invoices.length" >
                <thead>
                <tr>
                    <th>Number</th>
                    <th>Buyer</th>
                    <th>Seller</th>
                    <th>Due date</th>
                    <th>Issued date</th>
                    <th>Total</th>
                    <th>
                        <button class="btn btn-primary">
                            Show details
                        </button>
                    </th>
                </tr>
                </thead>
                <tbody>
                </tbody>
                <tr *ngFor="let invoice of invoices">
                    <td></td>
                    <td>{{invoice.seller}}</td>
                    <td>{{invoice.buyer}}</td>
                </tr>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
