<div class='card'>
    <div class='card-header'>
        Invoices List
    </div>
    <div class='card-body'>
        <div class='row'>
            <div class='col-md-2'>Filter by:</div>
            <div class='col-md-4'>
                <input [(ngModel)]='listFilter'
                       type='text'/>
            </div>
        </div>
        <div *ngIf='listFilter'
             class='row'>
            <div class='col-md-6'>
                <h4>Filtered by: {{listFilter}}</h4>
            </div>
        </div>
        <div class='table-responsive'>
            <table *ngIf="invoices && invoices.length" class='table'>
                <thead>
                <tr>
                    <th>Number</th>
                    <th>Buyer</th>
                    <th>Seller</th>
                    <th>Due date</th>
                    <th>Issued date</th>
                    <!--                    <th>Total</th>-->
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
                <tr *ngFor="let invoice of filteredInvoices">
                    <td>{{invoice.number | convertToSpace:'-'}}</td>
                    <td>{{invoice.seller}}</td>
                    <td>{{invoice.buyer}}</td>
                    <td>{{invoice.dueDate| date}}</td>
                    <td>{{invoice.issuedDate| date}}</td>
                    <!--                    <td>{{invoice.total | currency: 'PLN':'code':'1.2-2'}}</td>-->
                    <td>
                        <img (click)="toggleEvent()" [style.width.px]=45 align="left"
                             src="./assets/images/icons8-invoice-64.png">
                    </td>
                </tr>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
